body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(
    135deg,
    #0f2027,
    #203a43,
    #2c5364,
    #1e3c72,
    #2a5298
  );
  min-height: 100vh;
  color: white;
}
.header{
    display:flex;
    justify-content:space-between;
   

}
.logo{
    width:100px;
}

.nav-items>ul{
    font-size: 24px;
    display:flex;
    list-style-type:none;

}
.nav-items>ul>li{
    padding:10px;
    margin:10px;
}

.body {
  padding: 40px;
}

.filter-btn {
  padding: 12px 24px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(90deg, #00f260, #0575e6);
  color: white;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 242, 96, 0.6);
  transition: all 0.3s ease;
}

.filter-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(5, 117, 230, 0.9);
}

.res-container {
  display: flex;
  gap: 20px;
  margin-top: 30px;

  flex-wrap:wrap;   /* enables horizontal scroll */
  scroll-behavior: smooth;
  padding-bottom: 10px;
}

.res-card {
  padding:5px;
  margin:1px;
  width: 280px;
  border-radius: 20px;
   /* THIS FIXES IMAGE SPILL */
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  transition: 0.3s ease;
  box-shadow: 0 0 20px rgba(0, 255, 170, 0.2);
}

.res-card img {
  width: 100%;
  height: 200px;      
  object-fit: cover;  
  display: flex;
}

.res-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 30px rgba(0, 255, 170, 0.6);
}
