.header{
    display:flex;
    justify-content:space-between;
    border:2px solid black
}
.logo{
    width:100px;
}

.nav-items>ul{
    font-size: 24px;
    display:flex;
    list-style-type:none;

}
.nav-items>ul>li{
    padding:10px;
    margin:10px;
}
.res-card{
    margin:5px;
    padding:5px;
    width:200px;
    height:400px;
    border:1px solid black;
   


}
.res-container{
    display:flex;
    flex-wrap:wrap;
}
.search{
    padding:10px;
    margin:5px;
}
.res-logo{
    width:100% ;
    
}

.res-card:hover{
    cursor:pointer;
    border:1px solid black;
}